[submodule "_gallery"]
	path = _gallery
	url = https://github.com/nkanagno/_gallery
[submodule "_quotes"]
	path = _quotes
	url = https://github.com/nkanagno/_quotes
[submodule "images"]
	path = images
	url = https://github.com/nkanagno/images
[submodule "_bibliography"]
	path = _bibliography
	url = https://github.com/nkanagno/bibliography
[submodule "_notes"]
	path = _notes
	url = https://github.com/nkanagno/notes
[submodule "_includes/extras"]
	path = _includes/extras
	url = https://github.com/nkanagno/extras
[submodule "_includes/text"]
	path = _includes/text
	url = https://github.com/nkanagno/text
